/*============= SECTION =============*/

/* .narrow {
  width: 75%;
  margin: 1.5rem auto;
  padding-top: 2rem;
}
.narrow h1 {
    font-size: 2.4rem;
  }
.btn-secondary {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 1rem;
  border-color: #1EBBA3;
  background-color: #1EBBA3;
  color: white;
}
.btn-secondary:hover,
.btn-secondary:focus {
  border-color: #189582;
  background-color: #189582;
  color: white;
} */

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/

.navbar {
  background-color: black;
  font-weight: bold;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
}

.navbar-brand > img {
  height: 1.8rem;
}

.navbar-nav .nav-item {
  padding-right: 0.3rem;
}

.navbar .navbar-nav .nav-link:hover {
  color: rgb(11, 52, 52);
}

/* landing */
.home-inner {
  background-image: url(img/helena-lopes-UZe35tk5UoA-unsplash.jpg);
  opacity: 80%;
  background-size: contain;
}

.caption {
  width: 100%;
  color: white;
  position: absolute;
  top: 35%;
  z-index: 1;
}

/* course */
#course {
  background-color: darkgray;
}

/* features */
h2 {
  margin-bottom: 3rem;
}

.line {
  margin-bottom: 0;
}

.jumbotron {
  margin-bottom: 0;
  padding-bottom: 0;
}

.features-list {
  list-style: none;
}

/* clients */
.client {
  border-radius: 50%;
}

/* Own @media queries rules */
@media all and (max-width: 1200px) {
  .client {
    max-width: 50%;
    min-width: 20vw; /* vw viewport width */
  }
}

/* contact */

footer img {
  height: 3rem;
  margin: 1rem 0;
}
footer a {
  color: black;
}
footer a:hover {
  color: darkgray;
}
